{% extends 'property/base.html' %}

{% block content %}

<div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="mt-5 mb-3">Send Brochure Email Attachment</h1>

          {% if error_message %}
          <div class="alert alert-primary" role="alert">
            {{error_message}}
          </div>
          {% endif %}

          {% if email_form %}
          <form method="POST" action ="" enctype="multipart/form-data">
            {% csrf_token %}
            {{email_form.as_p}}
          <button type="submit" class="btn btn-secondary">Send Email</button>
          </form>
          {% endif %}

      </div>
    </div>
  </div>

{% endblock %}



