
{% block title %}  {% endblock %}
{% block content %}

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container ">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active"> Seller Dashboard</li>
        </ol>
      </nav>
    </div>
  </section>

<!-- alerts -->
{% include 'partials/_alert.html' %}

  <section id="dashboard" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Welcome</h2>
          {% if contacts %}
            <p>Here are the property listings</p>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Property Name</th>
                  <th scope="col">Property Detail</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for contact in contacts %}
                <tr>
                  <td>{{ contact.property.title }}</td>
                  <td>
                    <a class="btn btn-light" href="{% url 'propertydetails' contact.id %}">View Property Detail</a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            {% else %}
            <p>You have not made any property </p>
            {% endif %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}